NotesSimulator/Connected Services/NotesWcfServiceReference/NotesService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59735/NotesService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KMA.Sharp2019.Notes.MoreThanNotes.DBModels" />
  <xs:element name="GetUserByLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/KMA.Sharp2019.Notes.MoreThanNotes.DBModels" minOccurs="0" name="GetUserByLoginResult" nillable="true" type="q1:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/KMA.Sharp2019.Notes.MoreThanNotes.DBModels" minOccurs="0" name="user" nillable="true" type="q2:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddNewUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewNote">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/KMA.Sharp2019.Notes.MoreThanNotes.DBModels" minOccurs="0" name="note" nillable="true" type="q3:Note" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewNoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddNewNoteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteNotes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/KMA.Sharp2019.Notes.MoreThanNotes.DBModels" minOccurs="0" name="note" nillable="true" type="q4:Note" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteNotesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteNotesResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveNote">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/KMA.Sharp2019.Notes.MoreThanNotes.DBModels" minOccurs="0" name="note" nillable="true" type="q5:Note" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveNoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveNoteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>