NotesSimulator/Connected Services/NotesWcfServiceReference/NotesService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/KMA.Sharp2019.Notes.MoreThanNotes.DBModels" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/KMA.Sharp2019.Notes.MoreThanNotes.DBModels" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59735/NotesService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="_email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_firstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_guid" type="ser:guid" />
      <xs:element minOccurs="0" name="_lastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_lastSingInDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="_login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_notes" nillable="true" type="tns:ArrayOfNote" />
      <xs:element minOccurs="0" name="_password" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfNote">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Note" nillable="true" type="tns:Note" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNote" nillable="true" type="tns:ArrayOfNote" />
  <xs:complexType name="Note">
    <xs:sequence>
      <xs:element minOccurs="0" name="_createdDateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="_editedDateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="_guid" type="ser:guid" />
      <xs:element minOccurs="0" name="_noteText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_user" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" name="_userGuid" type="ser:guid" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="Note" nillable="true" type="tns:Note" />
</xs:schema>